teischema/tei_clgs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:dcr="http://www.isocat.org/ns/dcr" xmlns:ns1="http://www.tei-c.org/ns/1.0">
  <xs:import namespace="http://www.isocat.org/ns/dcr" schemaLocation="dcr.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!--
    Schema generated from ODD source 2015-01-08T12:43:51Z. 
    Edition: Version 2.7.0. Last updated on
    	16th September 2014, revision 13036
    Edition Location: http://www.tei-c.org/Vault/P5/Version 2.7.0/
    
  -->
  <!--
    This material is dual-licensed.
    [http://creativecommons.org/licenses/by-sa/3.0/] Distributed under a Creative Commons Attribution-ShareAlike 3.0 Unported License [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2013 TEI Consortium.All rights reserved.Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage.TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium.
  -->
  <xs:complexType name="macro.paraContent" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="ns1:model.phrase"/>
      <xs:group ref="ns1:model.inter"/>
      <xs:group ref="ns1:model.global"/>
      <xs:element ref="ns1:lg"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="macro.phraseSeq" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="ns1:model.phrase"/>
      <xs:group ref="ns1:model.global"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="macro.phraseSeq.limited" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="ns1:model.limitedPhrase"/>
      <xs:group ref="ns1:model.global"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="macro.specialPara" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="ns1:model.phrase"/>
      <xs:group ref="ns1:model.inter"/>
      <xs:group ref="ns1:model.divPart"/>
      <xs:group ref="ns1:model.global"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="data.certainty">
    <xs:restriction base="xs:token">
      <xs:enumeration value="high"/>
      <xs:enumeration value="medium"/>
      <xs:enumeration value="low"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="data.probability">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="data.numeric">
    <xs:union memberTypes="xs:double xs:decimal">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="(\-?[\d]+/\-?[\d]+)"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="data.count">
    <xs:restriction base="xs:nonNegativeInteger"/>
  </xs:simpleType>
  <xs:simpleType name="data.temporal.w3c">
    <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="data.xTruthValue">
    <xs:union memberTypes="xs:boolean">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="unknown"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="inapplicable"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="data.language">
    <xs:union memberTypes="xs:language">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="data.pointer">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="data.word">
    <xs:restriction base="xs:token">
      <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="data.text">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="data.name">
    <xs:restriction base="xs:Name"/>
  </xs:simpleType>
  <xs:simpleType name="data.enumerated">
    <xs:restriction base="ns1:data.name"/>
  </xs:simpleType>
  <xs:attributeGroup name="att.ascribed.attributes">
    <xs:attributeGroup ref="ns1:att.ascribed.attribute.who"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.ascribed.attribute.who">
    <xs:attribute name="who">
      <xs:annotation>
        <xs:documentation>indicates the person, or group of people, to whom the element content is ascribed.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:data.pointer"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.canonical.attributes">
    <xs:attributeGroup ref="ns1:att.canonical.attribute.key"/>
    <xs:attributeGroup ref="ns1:att.canonical.attribute.ref"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.canonical.attribute.key">
    <xs:attribute name="key" type="ns1:data.text">
      <xs:annotation>
        <xs:documentation>provides an externally-defined means of identifying the entity (or entities) being named, using a coded value of some kind.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.canonical.attribute.ref">
    <xs:attribute name="ref">
      <xs:annotation>
        <xs:documentation>(reference) provides an explicit means of locating a full definition for the entity being named by means of one or more URIs.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:data.pointer"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.ranging.attributes">
    <xs:attributeGroup ref="ns1:att.ranging.attribute.atLeast"/>
    <xs:attributeGroup ref="ns1:att.ranging.attribute.atMost"/>
    <xs:attributeGroup ref="ns1:att.ranging.attribute.min"/>
    <xs:attributeGroup ref="ns1:att.ranging.attribute.max"/>
    <xs:attributeGroup ref="ns1:att.ranging.attribute.confidence"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.ranging.attribute.atLeast">
    <xs:attribute name="atLeast" type="ns1:data.numeric">
      <xs:annotation>
        <xs:documentation>gives a minimum estimated value for the approximate measurement.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.ranging.attribute.atMost">
    <xs:attribute name="atMost" type="ns1:data.numeric">
      <xs:annotation>
        <xs:documentation>gives a maximum estimated value for the approximate measurement.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.ranging.attribute.min">
    <xs:attribute name="min" type="ns1:data.numeric">
      <xs:annotation>
        <xs:documentation>where the measurement summarizes more than one observation or a range, supplies the minimum value observed.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.ranging.attribute.max">
    <xs:attribute name="max" type="ns1:data.numeric">
      <xs:annotation>
        <xs:documentation>where the measurement summarizes more than one observation or a range, supplies the maximum value observed.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.ranging.attribute.confidence">
    <xs:attribute name="confidence" type="ns1:data.probability">
      <xs:annotation>
        <xs:documentation>specifies the degree of statistical confidence (between zero and one) that a value falls within the range specified by min and max, or the proportion of observed values that fall within that range.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.dimensions.attribute.unit">
    <xs:attribute name="unit">
      <xs:annotation>
        <xs:documentation>names the unit used for the measurement
Suggested values include: 1] cm(centimetres) ; 2] mm(millimetres) ; 3] in(inches) ; 4] lines; 5] chars(characters) </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:Name">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="cm">
                <xs:annotation>
                  <xs:documentation>(centimetres) </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="mm">
                <xs:annotation>
                  <xs:documentation>(millimetres) </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="in">
                <xs:annotation>
                  <xs:documentation>(inches) </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="lines">
                <xs:annotation>
                  <xs:documentation>lines of text</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="chars">
                <xs:annotation>
                  <xs:documentation>(characters) characters of text</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.dimensions.attribute.quantity">
    <xs:attribute name="quantity" type="ns1:data.numeric">
      <xs:annotation>
        <xs:documentation>specifies the length in the units specified</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.dimensions.attribute.extent">
    <xs:attribute name="extent" type="ns1:data.text">
      <xs:annotation>
        <xs:documentation>indicates the size of the object concerned using a project-specific vocabulary combining quantity and units in a single string of words.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.dimensions.attribute.precision">
    <xs:attribute name="precision" type="ns1:data.certainty">
      <xs:annotation>
        <xs:documentation>characterizes the precision of the values specified by the other attributes.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.dimensions.attribute.scope">
    <xs:attribute name="scope" type="ns1:data.enumerated">
      <xs:annotation>
        <xs:documentation>where the measurement summarizes more than one observation, specifies the applicability of this measurement.
Sample values include: 1] all; 2] most; 3] range</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datable.w3c.attribute.when">
    <xs:attribute name="when" type="ns1:data.temporal.w3c">
      <xs:annotation>
        <xs:documentation>supplies the value of the date or time in a standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datcat.attributes">
    <xs:attributeGroup ref="ns1:att.datcat.attribute.datcat"/>
    <xs:attributeGroup ref="ns1:att.datcat.attribute.valueDatcat"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datcat.attribute.datcat">
    <xs:attribute ref="dcr:datcat"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datcat.attribute.valueDatcat">
    <xs:attribute ref="dcr:valueDatcat"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.declarable.attributes">
    <xs:attributeGroup ref="ns1:att.declarable.attribute.default"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.declarable.attribute.default">
    <xs:attribute name="default" default="false">
      <xs:annotation>
        <xs:documentation>indicates whether or not this element is selected by default when its parent is selected.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true">
            <xs:annotation>
              <xs:documentation>This element is selected if its parent is selected</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="false">
            <xs:annotation>
              <xs:documentation>This element can only be selected explicitly, unless it is the only one of its kind, in which case it is selected if its parent is selected.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.fragmentable.attributes">
    <xs:attributeGroup ref="ns1:att.fragmentable.attribute.part"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.fragmentable.attribute.part">
    <xs:attribute name="part" default="N">
      <xs:annotation>
        <xs:documentation>specifies whether or not its parent element is fragmented in some way, typically by some other overlapping structure: for example a speech which is divided between two or more verse stanzas, a paragraph which is split across a page division, a verse line which is divided between two speakers.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Y">
            <xs:annotation>
              <xs:documentation>(yes) the element is fragmented in some (unspecified) respect</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="N">
            <xs:annotation>
              <xs:documentation>(no) either the element is not fragmented, or no claim is made as to its completeness.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="I">
            <xs:annotation>
              <xs:documentation>(initial) this is the initial part of a fragmented element</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="M">
            <xs:annotation>
              <xs:documentation>(medial) this is a medial part of a fragmented element</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="F">
            <xs:annotation>
              <xs:documentation>(final) this is the final part of a fragmented element</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.docStatus.attributes">
    <xs:attributeGroup ref="ns1:att.docStatus.attribute.status"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.docStatus.attribute.status">
    <xs:attribute name="status" default="draft" type="ns1:data.enumerated">
      <xs:annotation>
        <xs:documentation>describes the status of a document either currently or, when associated with a dated element, at the time indicated.
Sample values include: 1] approved; 2] candidate; 3] cleared; 4] deprecated; 5] draft; 6] embargoed; 7] expired; 8] frozen; 9] galley; 10] proposed; 11] published; 12] recommendation; 13] submitted; 14] unfinished; 15] withdrawn</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.responsibility.attribute.cert">
    <xs:attribute name="cert" type="ns1:data.certainty">
      <xs:annotation>
        <xs:documentation>(certainty) signifies the degree of certainty associated with the intervention or interpretation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.responsibility.attribute.resp">
    <xs:attribute name="resp">
      <xs:annotation>
        <xs:documentation>(responsible party) indicates the agency responsible for the intervention or interpretation, for example an editor or transcriber.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:data.pointer"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attributes">
    <xs:attributeGroup ref="ns1:att.global.analytic.attributes"/>
    <xs:attributeGroup ref="ns1:att.global.facs.attributes"/>
    <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
    <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
    <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
    <xs:attributeGroup ref="ns1:att.global.attribute.rend"/>
    <xs:attributeGroup ref="ns1:att.global.attribute.xmlspace"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmlid">
    <xs:attribute ref="xml:id"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.n">
    <xs:attribute name="n" type="ns1:data.text">
      <xs:annotation>
        <xs:documentation>(number) gives a number (or other label) for an element, which is not necessarily unique within the document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmllang">
    <xs:attribute ref="xml:lang"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.rend">
    <xs:attribute name="rend">
      <xs:annotation>
        <xs:documentation>(rendition) indicates how the element in question was rendered or presented in the source text.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:data.word"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmlspace">
    <xs:attribute ref="xml:space"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.naming.attribute.role">
    <xs:attribute name="role">
      <xs:annotation>
        <xs:documentation>may be used to specify further information about the entity referenced by this name in the form of a set of whitespace-separated values, for example the occupation of a person, or the status of a place.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:data.enumerated"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.naming.attribute.nymRef">
    <xs:attribute name="nymRef">
      <xs:annotation>
        <xs:documentation>(reference to the canonical name) provides a means of locating the canonical form (nym) of the names associated with the object named by the element bearing it.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:data.pointer"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.placement.attributes">
    <xs:attributeGroup ref="ns1:att.placement.attribute.place"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.placement.attribute.place">
    <xs:attribute name="place">
      <xs:annotation>
        <xs:documentation>specifies where this item is placed
Suggested values include: 1] below; 2] bottom; 3] margin; 4] top; 5] opposite; 6] overleaf; 7] above; 8] end; 9] inline; 10] inspace</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:union memberTypes="xs:Name">
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="below">
                        <xs:annotation>
                          <xs:documentation>below the line</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="bottom">
                        <xs:annotation>
                          <xs:documentation>at the foot of the page</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="margin">
                        <xs:annotation>
                          <xs:documentation>in the margin (left, right, or both)</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="top">
                        <xs:annotation>
                          <xs:documentation>at the top of the page</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="opposite">
                        <xs:annotation>
                          <xs:documentation>on the opposite, i.e. facing, page</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="overleaf">
                        <xs:annotation>
                          <xs:documentation>on the other side of the leaf</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="above">
                        <xs:annotation>
                          <xs:documentation>above the line</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="end">
                        <xs:annotation>
                          <xs:documentation>at the end of e.g. chapter or volume.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="inline">
                        <xs:annotation>
                          <xs:documentation>within the body of the text.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="inspace">
                        <xs:annotation>
                          <xs:documentation>in a predefined space, for example left by an earlier scribe.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:union>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.typed.attributes">
    <xs:attributeGroup ref="ns1:att.typed.attribute.type"/>
    <xs:attributeGroup ref="ns1:att.typed.attribute.subtype"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.typed.attribute.type">
    <xs:attribute name="type" type="ns1:data.enumerated">
      <xs:annotation>
        <xs:documentation>characterizes the element in some sense, using any convenient classification scheme or typology.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.typed.attribute.subtype">
    <xs:attribute name="subtype" type="ns1:data.enumerated">
      <xs:annotation>
        <xs:documentation>provides a sub-categorization of the element, if needed</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.pointing.attribute.target">
    <xs:attribute name="target">
      <xs:annotation>
        <xs:documentation>specifies the destination of the reference by supplying one or more URI References</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:data.pointer"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.segLike.attributes">
    <xs:attributeGroup ref="ns1:att.datcat.attributes"/>
    <xs:attributeGroup ref="ns1:att.fragmentable.attributes"/>
    <xs:attributeGroup ref="ns1:att.segLike.attribute.function"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.segLike.attribute.function">
    <xs:attribute name="function" type="ns1:data.enumerated">
      <xs:annotation>
        <xs:documentation>characterizes the function of the segment.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="model.nameLike.agent">
    <xs:sequence>
      <xs:element ref="ns1:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_alternation">
    <xs:sequence>
      <xs:element ref="ns1:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_sequence">
    <xs:sequence>
      <xs:element ref="ns1:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike.agent_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.segLike">
    <xs:choice>
      <xs:element ref="ns1:s"/>
      <xs:element ref="ns1:w"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.hiLike">
    <xs:sequence>
      <xs:element ref="ns1:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.hiLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.hiLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.hiLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.hiLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.hiLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.emphLike">
    <xs:sequence>
      <xs:element ref="ns1:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.emphLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.emphLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.emphLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.emphLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.emphLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.highlighted">
    <xs:choice>
      <xs:group ref="ns1:model.hiLike"/>
      <xs:group ref="ns1:model.emphLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.dateLike">
    <xs:sequence>
      <xs:element ref="ns1:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.dateLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.dateLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.dateLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.dateLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.dateLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.headLike">
    <xs:sequence>
      <xs:element ref="ns1:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.headLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.headLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.headLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.headLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.headLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.noteLike">
    <xs:sequence>
      <xs:element ref="ns1:note"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.lLike">
    <xs:sequence>
      <xs:element ref="ns1:l"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.lLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:l"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.lLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:l"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.lLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:l"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.lLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:l"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.lLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:l"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike">
    <xs:sequence>
      <xs:element ref="ns1:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.stageLike">
    <xs:sequence>
      <xs:element ref="ns1:stage"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.stageLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:stage"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.stageLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:stage"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.stageLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:stage"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.stageLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:stage"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.stageLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:stage"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.global.edit">
    <xs:sequence>
      <xs:element ref="ns1:gap"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.divPart">
    <xs:choice>
      <xs:group ref="ns1:model.lLike"/>
      <xs:group ref="ns1:model.pLike"/>
      <xs:element ref="ns1:lg"/>
      <xs:element ref="ns1:sp"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.publicationStmtPart.agency">
    <xs:sequence>
      <xs:element ref="ns1:publisher"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.publicationStmtPart.detail">
    <xs:choice>
      <xs:element ref="ns1:date"/>
      <xs:element ref="ns1:idno"/>
      <xs:element ref="ns1:availability"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.availabilityPart">
    <xs:sequence>
      <xs:element ref="ns1:licence"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.quoteLike">
    <xs:sequence>
      <xs:element ref="ns1:quote"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.quoteLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:quote"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.quoteLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:quote"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.quoteLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:quote"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.quoteLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:quote"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.quoteLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:quote"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.qLike">
    <xs:choice>
      <xs:group ref="ns1:model.quoteLike"/>
      <xs:element ref="ns1:q"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.qLike_alternation">
    <xs:choice>
      <xs:group ref="ns1:model.quoteLike_alternation"/>
      <xs:element ref="ns1:q"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.qLike_sequence">
    <xs:sequence>
      <xs:group ref="ns1:model.quoteLike_sequence"/>
      <xs:element ref="ns1:q"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.qLike_sequenceOptional">
    <xs:sequence>
      <xs:group minOccurs="0" ref="ns1:model.quoteLike_sequenceOptional"/>
      <xs:element minOccurs="0" ref="ns1:q"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.qLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.quoteLike_sequenceOptionalRepeatable"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:q"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.qLike_sequenceRepeatable">
    <xs:sequence>
      <xs:group maxOccurs="unbounded" ref="ns1:model.quoteLike_sequenceRepeatable"/>
      <xs:element maxOccurs="unbounded" ref="ns1:q"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.respLike">
    <xs:choice>
      <xs:element ref="ns1:author"/>
      <xs:element ref="ns1:principal"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.divTopPart">
    <xs:sequence>
      <xs:group ref="ns1:model.headLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.divTop">
    <xs:sequence>
      <xs:group ref="ns1:model.divTopPart"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.pLike.front">
    <xs:sequence>
      <xs:element ref="ns1:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike">
    <xs:choice>
      <xs:group ref="ns1:model.nameLike.agent"/>
      <xs:element ref="ns1:idno"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.nameLike_alternation">
    <xs:choice>
      <xs:group ref="ns1:model.nameLike.agent_alternation"/>
      <xs:element ref="ns1:idno"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.nameLike_sequence">
    <xs:sequence>
      <xs:group ref="ns1:model.nameLike.agent_sequence"/>
      <xs:element ref="ns1:idno"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike_sequenceOptional">
    <xs:sequence>
      <xs:group minOccurs="0" ref="ns1:model.nameLike.agent_sequenceOptional"/>
      <xs:element minOccurs="0" ref="ns1:idno"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.nameLike.agent_sequenceOptionalRepeatable"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:idno"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.nameLike_sequenceRepeatable">
    <xs:sequence>
      <xs:group maxOccurs="unbounded" ref="ns1:model.nameLike.agent_sequenceRepeatable"/>
      <xs:element maxOccurs="unbounded" ref="ns1:idno"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="model.global">
    <xs:choice>
      <xs:group ref="ns1:model.noteLike"/>
      <xs:group ref="ns1:model.global.edit"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.pPart.data">
    <xs:choice>
      <xs:group ref="ns1:model.dateLike"/>
      <xs:group ref="ns1:model.nameLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.inter">
    <xs:choice>
      <xs:group ref="ns1:model.stageLike"/>
      <xs:group ref="ns1:model.qLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.common">
    <xs:choice>
      <xs:group ref="ns1:model.divPart"/>
      <xs:group ref="ns1:model.inter"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.phrase">
    <xs:choice>
      <xs:group ref="ns1:model.segLike"/>
      <xs:group ref="ns1:model.highlighted"/>
      <xs:group ref="ns1:model.pPart.data"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.limitedPhrase">
    <xs:choice>
      <xs:group ref="ns1:model.hiLike"/>
      <xs:group ref="ns1:model.emphLike"/>
      <xs:group ref="ns1:model.pPart.data"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.divLike">
    <xs:sequence>
      <xs:element ref="ns1:div"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="att.source.attributes">
    <xs:attributeGroup ref="ns1:att.source.attribute.source"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.source.attribute.source">
    <xs:attribute name="source">
      <xs:annotation>
        <xs:documentation>provides a pointer to the bibliographical source from which a quotation or citation is drawn.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:data.pointer"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="p">
    <xs:annotation>
      <xs:documentation>(paragraph) marks paragraphs in prose. [3.1.  7.2.5. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.paraContent">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.rend"/>
          <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="hi">
    <xs:annotation>
      <xs:documentation>(highlighted) marks a word or phrase as graphically distinct from the surrounding text, for reasons concerning which no claim is made. [3.3.2.2.  3.3.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.paraContent">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.rend"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="quote">
    <xs:annotation>
      <xs:documentation>(quotation) contains a phrase or passage attributed by the narrator or author to some agency external to the text. [3.3.3.  4.3.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.specialPara">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
          <xs:attributeGroup ref="ns1:att.typed.attribute.type"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="q">
    <xs:annotation>
      <xs:documentation>(quoted) contains material which is distinguished from the surrounding text using quotation marks or a similar method, for any one of a variety of reasons including, but not limited to: direct speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and passages that are mentioned but not used. [3.3.3. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.specialPara">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
          <xs:attributeGroup ref="ns1:att.ascribed.attributes"/>
          <xs:attribute name="type">
            <xs:annotation>
              <xs:documentation>may be used to indicate whether the offset passage is spoken or thought, or to characterize it more finely.
Suggested values include: 1] spoken; 2] thought; 3] written; 4] soCalled; 5] foreign; 6] distinct; 7] term; 8] emph; 9] mentioned</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union memberTypes="xs:Name">
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="spoken">
                      <xs:annotation>
                        <xs:documentation>representation of speech</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="thought">
                      <xs:annotation>
                        <xs:documentation>representation of thought, e.g. internal monologue</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="written">
                      <xs:annotation>
                        <xs:documentation>quotation from a written source</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="soCalled">
                      <xs:annotation>
                        <xs:documentation>authorial distance</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="foreign"/>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="distinct">
                      <xs:annotation>
                        <xs:documentation>linguistically distinct</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="term">
                      <xs:annotation>
                        <xs:documentation>technical term</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="emph">
                      <xs:annotation>
                        <xs:documentation>rhetorically emphasized</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="mentioned">
                      <xs:annotation>
                        <xs:documentation>refering to itself, not its normal referent</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="gap">
    <xs:annotation>
      <xs:documentation>indicates a point where material has been omitted in a transcription, whether for editorial reasons described in the TEI header, as part of sampling practice, or because the material is illegible, invisible, or inaudible. [3.4.3. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.rend"/>
      <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="name">
    <xs:annotation>
      <xs:documentation>(name, proper noun) contains a proper noun or noun phrase. [3.5.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.rend"/>
          <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
          <xs:attributeGroup ref="ns1:att.typed.attribute.type"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="date">
    <xs:annotation>
      <xs:documentation>contains a date in any format. [3.5.4.  2.2.4.  2.5.  3.11.2.4.  15.2.3.  13.3.6. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns1:model.phrase"/>
        <xs:group ref="ns1:model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.rend"/>
      <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
      <xs:attributeGroup ref="ns1:att.datable.w3c.attribute.when"/>
      <xs:attributeGroup ref="ns1:att.dimensions.attribute.precision"/>
      <xs:attributeGroup ref="ns1:att.typed.attribute.type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="head">
    <xs:annotation>
      <xs:documentation>(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:lg"/>
        <xs:group ref="ns1:model.phrase"/>
        <xs:group ref="ns1:model.inter"/>
        <xs:group ref="ns1:model.lLike"/>
        <xs:group ref="ns1:model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="note">
    <xs:annotation>
      <xs:documentation>contains a note or annotation. [3.8.1.  2.2.6.  3.11.2.8.  9.3.5.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.specialPara">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
          <xs:attributeGroup ref="ns1:att.source.attribute.source"/>
          <xs:attributeGroup ref="ns1:att.typed.attribute.type"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="author">
    <xs:annotation>
      <xs:documentation>in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority. [3.11.2.2.  2.2.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:annotation>
      <xs:documentation>contains a title for any kind of work. [3.11.2.2.  2.2.1.  2.2.5. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.paraContent">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
          <xs:attribute name="type" type="ns1:data.enumerated">
            <xs:annotation>
              <xs:documentation>classifies the title according to some convenient typology.
Sample values include: 1] main; 2] sub(subordinate) ; 3] alt(alternate) ; 4] short; 5] desc(descriptive) </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="publisher">
    <xs:annotation>
      <xs:documentation>provides the name of the organization responsible for the publication or distribution of a bibliographic item. [3.11.2.4.  2.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="l">
    <xs:annotation>
      <xs:documentation>(verse line) contains a single, possibly incomplete, line of verse. [3.12.1.  3.12.  7.2.5. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.paraContent">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lg">
    <xs:annotation>
      <xs:documentation>(line group) contains one or more verse lines functioning as a formal unit, e.g. a stanza, refrain, verse paragraph, etc. [3.12.1.  3.12.  7.2.5. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="ns1:model.divTop"/>
          <xs:group ref="ns1:model.global"/>
        </xs:choice>
        <xs:choice>
          <xs:group ref="ns1:model.lLike"/>
          <xs:group ref="ns1:model.stageLike"/>
          <xs:element ref="ns1:lg"/>
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="ns1:model.lLike"/>
          <xs:group ref="ns1:model.stageLike"/>
          <xs:group ref="ns1:model.global"/>
          <xs:element ref="ns1:lg"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sp">
    <xs:annotation>
      <xs:documentation>(speech) contains an individual speech in a performance text, or a passage presented as such in a prose or verse text. [3.12.2.  3.12.  7.2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns1:speaker"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
        </xs:sequence>
        <xs:sequence maxOccurs="unbounded">
          <xs:choice>
            <xs:element ref="ns1:lg"/>
            <xs:group ref="ns1:model.lLike"/>
            <xs:group ref="ns1:model.pLike"/>
            <xs:group ref="ns1:model.stageLike"/>
            <xs:group ref="ns1:model.qLike"/>
          </xs:choice>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
      <xs:attributeGroup ref="ns1:att.ascribed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="speaker">
    <xs:annotation>
      <xs:documentation>contains a specialized form of heading or label, giving the name of one or more speakers in a dramatic text or fragment. [3.12.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="stage">
    <xs:annotation>
      <xs:documentation>(stage direction) contains any kind of stage direction within a dramatic text or fragment. [3.12.2.  3.12.  7.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.specialPara">
          <xs:attributeGroup ref="ns1:att.ascribed.attributes"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
          <xs:attributeGroup ref="ns1:att.placement.attributes"/>
          <xs:attribute name="type">
            <xs:annotation>
              <xs:documentation>indicates the kind of stage direction.
Suggested values include: 1] setting; 2] entrance; 3] exit; 4] business; 5] novelistic; 6] delivery; 7] modifier; 8] location; 9] mixed</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union memberTypes="xs:Name">
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="setting">
                      <xs:annotation>
                        <xs:documentation>describes a setting.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="entrance">
                      <xs:annotation>
                        <xs:documentation>describes an entrance.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="exit">
                      <xs:annotation>
                        <xs:documentation>describes an exit.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="business">
                      <xs:annotation>
                        <xs:documentation>describes stage business.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="novelistic">
                      <xs:annotation>
                        <xs:documentation>is a narrative, motivating stage direction.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="delivery">
                      <xs:annotation>
                        <xs:documentation>describes how a character speaks.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="modifier">
                      <xs:annotation>
                        <xs:documentation>gives some detail about a character.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="location">
                      <xs:annotation>
                        <xs:documentation>describes a location.</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="xs:token">
                    <xs:enumeration value="mixed">
                      <xs:annotation>
                        <xs:documentation>more than one of the above</xs:documentation>
                      </xs:annotation>
                    </xs:enumeration>
                  </xs:restriction>
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="teiHeader">
    <xs:annotation>
      <xs:documentation>(TEI header) supplies the descriptive and declarative information making up an electronic title page for every TEI-conformant document. [2.1.1.  15.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:fileDesc"/>
        <xs:element minOccurs="0" ref="ns1:revisionDesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
      <xs:attribute name="type" default="text" type="ns1:data.enumerated">
        <xs:annotation>
          <xs:documentation>specifies the kind of document to which the header is attached, for example whether it is a corpus or individual text.
Sample values include: 1] text; 2] corpus</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="fileDesc">
    <xs:annotation>
      <xs:documentation>(file description) contains a full bibliographic description of an electronic file. [2.2.  2.1.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element ref="ns1:titleStmt"/>
          <xs:element ref="ns1:publicationStmt"/>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:sourceDesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleStmt">
    <xs:annotation>
      <xs:documentation>(title statement) groups information about the title of a work and those responsible for its content. [2.2.1.  2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:title"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.respLike"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="principal">
    <xs:annotation>
      <xs:documentation>(principal researcher) supplies the name of the principal researcher responsible for the creation of an electronic text. [2.2.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.phraseSeq.limited">
          <xs:attributeGroup ref="ns1:att.global.attributes"/>
          <xs:attributeGroup ref="ns1:att.canonical.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationStmt">
    <xs:annotation>
      <xs:documentation>(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4.  2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:sequence maxOccurs="unbounded">
          <xs:group ref="ns1:model.publicationStmtPart.agency"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.publicationStmtPart.detail"/>
        </xs:sequence>
        <xs:group maxOccurs="unbounded" ref="ns1:model.pLike"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="idno">
    <xs:annotation>
      <xs:documentation>(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [2.2.4.  2.2.5.  3.11.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:idno"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attribute name="type" type="ns1:data.enumerated">
        <xs:annotation>
          <xs:documentation>categorizes the identifier, for example as an ISBN, Social Security number, etc.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="availability">
    <xs:annotation>
      <xs:documentation>supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:group ref="ns1:model.availabilityPart"/>
        <xs:group ref="ns1:model.pLike"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="licence">
    <xs:annotation>
      <xs:documentation>contains information about a licence or other legal agreement applicable to the text. [2.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.specialPara">
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
          <xs:attributeGroup ref="ns1:att.pointing.attribute.target"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="sourceDesc">
    <xs:annotation>
      <xs:documentation>(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="ns1:model.pLike"/>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
      <xs:attributeGroup ref="ns1:att.declarable.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="revisionDesc">
    <xs:annotation>
      <xs:documentation>(revision description) summarizes the revision history for a file. [2.5.  2.1.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:change"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
      <xs:attributeGroup ref="ns1:att.docStatus.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="change">
    <xs:annotation>
      <xs:documentation>documents a change or set of changes made during the production of a source document, or during the revision of an electronic file. [2.5.  2.4.1.  11.7. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:macro.specialPara">
          <xs:attributeGroup ref="ns1:att.ascribed.attributes"/>
          <xs:attributeGroup ref="ns1:att.datable.w3c.attribute.when"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
          <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEI">
    <xs:annotation>
      <xs:documentation>(TEI document) contains a single TEI-conformant document, comprising a TEI header and a text, either in isolation or as part of a teiCorpus element. [4.  15.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:teiHeader"/>
        <xs:element ref="ns1:text"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:annotation>
      <xs:documentation>contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4.  15.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns1:front"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
        </xs:sequence>
        <xs:element ref="ns1:body"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="ns1:back"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:annotation>
      <xs:documentation>(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
        <xs:sequence minOccurs="0">
          <xs:group ref="ns1:model.divTop"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="ns1:model.global"/>
            <xs:group ref="ns1:model.divTop"/>
          </xs:choice>
        </xs:sequence>
        <xs:choice>
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="ns1:model.divLike"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
          </xs:sequence>
          <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="ns1:model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
            </xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="ns1:model.divLike"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
            </xs:sequence>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.rend"/>
      <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="div">
    <xs:annotation>
      <xs:documentation>(text division) contains a subdivision of the front, body, or back of a text. [4.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="ns1:model.divTop"/>
          <xs:group ref="ns1:model.global"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="ns1:model.divLike"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
          </xs:sequence>
          <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="ns1:model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
            </xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="ns1:model.divLike"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:model.global"/>
            </xs:sequence>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.rend"/>
      <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
      <xs:attributeGroup ref="ns1:att.typed.attribute.type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="front">
    <xs:annotation>
      <xs:documentation>(front matter) contains any prefatory matter (headers, title page, prefaces, dedications, etc.) found at the start of a document, before the main body. [4.6.  4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="ns1:model.pLike"/>
          <xs:group ref="ns1:model.pLike.front"/>
          <xs:group ref="ns1:model.global"/>
        </xs:choice>
        <xs:sequence minOccurs="0">
          <xs:group ref="ns1:model.divLike"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="ns1:model.divLike"/>
            <xs:group ref="ns1:model.global"/>
          </xs:choice>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.rend"/>
      <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="back">
    <xs:annotation>
      <xs:documentation>(back matter) contains any appendixes, etc. following the main part of a text. [4.7.  4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="ns1:model.pLike.front"/>
          <xs:group ref="ns1:model.pLike"/>
          <xs:group ref="ns1:model.global"/>
        </xs:choice>
        <xs:sequence minOccurs="0">
          <xs:group ref="ns1:model.divLike"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="ns1:model.divLike"/>
            <xs:group ref="ns1:model.global"/>
          </xs:choice>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.rend"/>
      <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="att.global.analytic.attributes">
    <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.analytic.attribute.ana">
    <xs:attribute name="ana">
      <xs:annotation>
        <xs:documentation>(analysis) indicates one or more elements containing interpretations of the element on which the ana attribute appears.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:data.pointer"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="s">
    <xs:annotation>
      <xs:documentation>(s-unit) contains a sentence-like division of a text. [17.1.  8.4.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns1:model.global"/>
        <xs:element ref="ns1:title"/>
        <xs:element ref="ns1:hi"/>
        <xs:element ref="ns1:date"/>
        <xs:element ref="ns1:name"/>
        <xs:element ref="ns1:idno"/>
        <xs:element ref="ns1:w"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="ns1:att.global.attribute.rend"/>
      <xs:attributeGroup ref="ns1:att.global.analytic.attribute.ana"/>
      <xs:attributeGroup ref="ns1:att.typed.attribute.type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="w">
    <xs:annotation>
      <xs:documentation>(word) represents a grammatical (not necessarily orthographic) word. [17.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:w"/>
        <xs:group ref="ns1:model.global"/>
        <xs:group ref="ns1:model.hiLike"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:att.global.attributes"/>
      <xs:attributeGroup ref="ns1:att.segLike.attributes"/>
      <xs:attributeGroup ref="ns1:att.typed.attributes"/>
      <xs:attribute name="lemma" type="ns1:data.text">
        <xs:annotation>
          <xs:documentation>provides a lemma for the word, such as an uninflected dictionary entry form.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="lemmaRef" type="ns1:data.pointer">
        <xs:annotation>
          <xs:documentation>provides a pointer to a definition of the lemma for the word, for example in an online lexicon.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="att.global.facs.attributes">
    <xs:attributeGroup ref="ns1:att.global.facs.attribute.facs"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.facs.attribute.facs">
    <xs:attribute name="facs">
      <xs:annotation>
        <xs:documentation>(facsimile) points to all or part of an image which corresponds with the content of the element.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:data.pointer"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
